// variables de SASS
$ColorTitulo: #000000;
$BordeInput: 2.5px solid #1bdf39; 
$BotonFormulario: #3182e6;
// colores para pagina 
$colorVerde: #1bdf39;
$colorDeBtn: forestgreen;
$colorNaranja: #ffbc0e;
// imagenes de fondo
$colorGradiente: linear-gradient(rgba(16, 16, 16, .5), rgba(16, 16, 16, .9)) ;
$ImagenDeFondo: linear-gradient(rgba(16, 16, 16, .8), rgba(16, 16, 16, .9)) , url(/img/Zebras.jpg);


