/*-------------------------------------------------------*/

/*********   PAGINA INDEX ***********/
.hero{
    height: 88vh;
    background-image: $ImagenDeFondo;
    background-size: cover;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(8, 1fr);
    position: relative;

    & .info-content{
        grid-column: 7/10;
        grid-row: 2/7;
        color: #fdfdfd;
    }
    & h3{
        font-family: 'Roboto', sans-serif, sans-serif;
        font-size: 1.7em;
        font-weight: 300;
    }
    & h1{
        font-size: 5em;
        color: $colorVerde;
        font-family: 'Nunito', sans-serif;
    }
    & p{
        font-weight: 300;
        font-family: 'Roboto', sans-serif, sans-serif;
        margin-bottom: 22px;
    }
    /* boton de index 'hero'- 'Saber mas' */
    & .btn3{
        font-size: 1em;
        background: none;
        color: #fff;
        padding: 10px 20px;
        border: 1.5px solid $colorVerde;
        border-radius: 30px;
        margin-top: 13px;
        text-decoration: none;
        
    &:hover{
            background-color:$colorVerde;
        }
    }
}
/*=============================================================*/
/*   PAGINA      Carrucel*/
/*=============================================================*/
.slider-content{
    grid-column: 2/6;
    grid-row: 2/7;
    
}

.titulo{
    text-align: left;
    font-size: 30px; 
    // padding-top: 50px;
 }
 
 .slider-box{
     width: 1280;
     height: auto;
     overflow: hidden;
 }
 
 .slider-box ul{
     display: flex;
     padding: 0;
     width: 400%;
     animation: slide 20s infinite alternate ease-in-out;
 }
 
 .slider-box li{
     width: 100%;
     list-style: none;
     position: relative;
 }
 
 .texto{
     position: absolute;
     text-align: left;
     padding: 0 40px;
     top: 340px;
     color: #ffff;
 }
 
 .texto h2{
     font-size: 45px;
     margin-bottom: 35px;
 }
 
 .slider-box img{
     width: 100%;
 }
 
 @keyframes slide {
     0% { margin-left: 0; }
     20% { margin-left: 0; }
 
     25% { margin-left: -100%; }
     45% { margin-left: -100%; }
 
     50% { margin-left: -200%; }
     70% { margin-left: -200%; }
     
     75% { margin-left: -300%; }
     100% { margin-left: -300%; }    
 }
 
 @media(max-width:991px){
 
     /* .body{
         padding: 30px;
     } */
 
     .slider-box{
         width: 100%;
     }
 
     .texto{
         top: 50px;
         padding: 0 25px;
     }
 
     .text h2{
         font-size: 35px;
         margin-bottom: 15px;
     }
 
     .text p{
         font-size: 15px;
     }
 }



    
